:root {
  --white-color: #fff;

  --black-color: #000;
  --text-color: #333;
  --dangerous-color: #cc0000;
  --success-color: #1a73e8;
  --header-height: 120px;
  --header-nav: 56px;
  --header-search: calc(var(--header-height) - var(--header-nav));
  --header-sort-bar: 46px;
}
* {
  box-sizing: inherit;
}
body {
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
  box-sizing: border-box;
}
/* Share */
#style-2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar {
  width: 9px;
  background-color: #f5f5f5;
}

#style-2::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
.btn {
  height: 34px;
  border: 0px;
  border-radius: 2px;
  color: var(--text-color);
  line-height: 1.6rem;
  font-size: 1.5rem;
  outline: none;
  padding: 0 12px;
  cursor: pointer;
  font-weight: 500;
}
.btn--dangerous {
  border: 1px solid white;
  background-color: var(--dangerous-color);
  color: white;
}

.btn--primary {
  border: 1px solid #0d6efd;
  background-color: var(--white-color);
  color: rgba(0, 0, 0, 0.4);
}
.btn--success {
  border: 1px solid #000;
  background-color: #1a73e8;
  color: var(--white-color);
}
.btn-default{
  border:none;
  background-color: #ececec;
  color: #bbbbad;
}
/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeBoder {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 50%;
  }
}
/* Responsive */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  .nav-overlay {
    display: block;
  }
  
}
/* just tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}
/* just mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .header-right{
    justify-content: start !important;
  }
  .header{
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-left__nav > i {
    margin-left: 0 !important;
    margin-right: 12px !important;
  }
  .header__logo {
    width: 110px !important;
  }
}
